@import "common/var.scss";
@b vue-cards-button {
  display: inline-flex;
  box-sizing:border-box;
  font-size: $--font-size-base;
  border-radius: 36px;
  padding: 16px 40px;
  align-items:center;
  justify-content: center;
  min-width: 208px;
  cursor: pointer;
  @m medium {
  }
  @m small {
    font-size: $--font-size-small;
    border-radius: 32px;
    padding: 12px 28px;
  }
  @m mini {}
  @m default {
    font-size: $--font-size-base;
    border-radius: 36px;
    padding: 16px 40px;
  }
  @m primary {
    background-color: $--color-primary;
    color: $--color-white;
  }
  @m info {
    background-color: $--color-primary-light-2;
    color: $--color-primary;
  }
  
  @m danger {
    background-color: $--color-danger;
    color: $--color-white;
  }
  @when plain {
    color: $--color-old-primary;
    font-size: $--font-size-large;
    padding: 0;
  }
  @when opacity {
    opacity: 0.6;
  }
  @when disabled {
    background-color: $--color-disabled;
    color: $--color-white;
  }
  @when shadow {
    box-shadow: 0px 4px 12px 0px rgba(53, 86, 189, 0.3);
  }
  @when square {
    border-radius: 0px
  }
}