  /* Colors
  -------------------------- */
$--color-white: #ffffff;
$--color-black: #000000;

$--color-old-primary: #628cf5;
$--color-primary: #628cf5;
$--color-primary-light-1: #168fcb;
$--color-primary-light-2: #D6E0FB;
$--color-success: #0EAD83;
$--color-warning: #FFCD42;
$--color-danger: #FA7268;
$--color-danger-light: #ffe9e8;
$--color-info: #50bfff;
$--color-close: #b4bccc;
$--color-disabled: #C4C6CC;

$--color-card-grey: #f5f5fa;

$--color-text-primary: #3D424D;
$--color-text-regular: #626673;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-base: #B6B8BF;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;
$--border-radius-big: 10px;
$--border-radius-base: 4px;
$--border-radius-small: 2px;
$--border-radius-circle: 100%;

/* Font
-------------------------- */
$--font-size-base: 28px;
$--font-size-small: 24px;
$--font-size-large: 32px;
$--font-color-disabled-base: #bbb;
$--font-weight-primary: 500;
$--font-weight-bold: 600;
$--font-line-height-primary: 24px;

/* Button
-------------------------- */
$--button-radius-base: 32px;